
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3>Search</h3>
        <!---->
        <input style="position: relative" id="textInput" ng-change="drawResult(text)" ng-model="text" type="text" class="form-control" placeholder="Type in to start searching">
        <div class="list-group searchResults">
            <div class="searchOut" hidden>
                <a ng-repeat="student in students" href="" ng-click="showContent(student.id)" class="list-group-item"><%student.username%></a>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12" ng-show="visible">
        <contact-card student="student"></contact-card>
    </div>
</div>
